/* .container {
  display: 'flex';
  align-items: center;
  justify-content: center;
}

.num-container {
  background: 'grey';
  padding: '5px 10px';
  margin: 5;
  color: 'white';
  font-weight: 'bold';
  cursor: 'pointer'
}

.items-list {
  padding: '20px';
  display: 'flex';
  flex-wrap: 'wrap';
  gap: 10;
  justify-content: 'center';
}

.card-container {
  width: '200px';
  border: '1px solid grey';
  align-items: 'center';
  display: 'flex';
  flex-direction: 'column';
  border-radius: '10px';
  height: '200px';
  justify-content: 'space-around'
}

.card-img {
  width: '100px';
  align-items: center;
} */